//
// AppTarget.xcconfig
//
// Copyright (c) 2016 Twitter. All rights reserved.
//

#include "../../Architectures.xcconfig"
#include "../../BuildOptions.xcconfig"
#include "../../CompilerFeatures.xcconfig"
#include "../../CompilerWarnings.xcconfig"
#include "../Target.xcconfig"

GCC_DYNAMIC_NO_PIC = NO
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
SKIP_INSTALL = NO
