//
// Target.xcconfig
//
// Copyright (c) 2015 Twitter. All rights reserved.
//

#include "../vendor/xcconfig/Architectures.xcconfig"
#include "../vendor/xcconfig/CodeSigning.xcconfig"
#include "../vendor/xcconfig/CompilerFeatures.xcconfig"
#include "../vendor/xcconfig/CompilerWarnings.xcconfig"
#include "../vendor/xcconfig/PreprocessorDefinitions.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

ALWAYS_SEARCH_USER_PATHS = NO

SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO

VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))

ENABLE_NS_ASSERTIONS_Debug = YES
ENABLE_NS_ASSERTIONS_Release = NO
ENABLE_NS_ASSERTIONS = $(ENABLE_NS_ASSERTIONS_$(CONFIGURATION))

ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY_Release = NO
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))
